<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<div>
  <div class="container">
    <div class="row-fluid login">
      <div class="col-lg-6 ">
        <div class="loginform">
          <div class="center">
            <p class="loginLog">Login</p>
          </div>
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)"   class="login-form" id="UserLoginForm" method="post" >
            <div class="control-group">
              <div class="input-prepend">
             
                <input formControlName="UserEmail" required="required" placeholder="UserEmail" maxlength="255" style="width:100%"  type="text" id="UserUsername"> 
              </div>
            </div><br>
            <div class="control-group">
              <div class="input-prepend">
              
                <input formControlName="Password" required="required" placeholder="Password" style="width:100%" type="password" id="UserPassword"> 
              </div>
            </div><br>
            <div class="control-group">
              <label id="remember-me">
                <input type="checkbox" value="1" id="UserRememberMe"> Remember Me?</label>
            </div><br>
            <div class="control-group">
              <input class="btn btn-primary btn-large btn-block" [disabled]="profileForm.controls['UserEmail' && 'Password' ].invalid" type="submit" value="Sign in" > 
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

